.bannerTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    a{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }

}
@media screen and (min-width:300px) and (max-width:375px){
    .bannerTop{
        .position{
            font-size: 14px;
        }
        ul{
            font-size: 14px;
            flex-grow: 1;
            text-align: end;
        }
    }
}