.bannerTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    ul{
        list-style-type: none;
    }

}
@media (max-width:320px) {
    .bannerTop{
        .position{
            font-size: 14px;
        }
        ul{
            font-size: 14px;
        }
    }
}