.cardTxt{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(131,126,126,1) 52%, rgba(255,255,255,1) 100%);
    .border{
        background-color: red;
        width: 50%;
        height: 600px;
        img{
            object-fit: cover;
            height: 600px;
            width: 100%;
        }
    }
    .cardListTxt {
        text-align: center;
        font-weight: 800;
        margin: 50px 0;
        font-size: 25px;
        width: 50%;
        h2{
            color: #E2C2B3;
            font-size: 60px;
            // text-shadow: 6px 4px 8px #E2C2B3;
            text-shadow: 6px 4px 8px #edc0ab;
        }
        ul{
            color: #403234;
            list-style-type: none;
            margin: 48px;
        }
        li{
            font-size: 34px;
            margin: 15px 0;
        }
    }
}
@media (max-width:425px) {
    .home{
        .cardTxt{
            .cardListTxt{
                font-size: 20px;
                h2{
                    font-size: 25px;
                }
            }
        }
    }
}
@media (max-width:320px) {
    .home{
        .cardTxt{
            .cardListTxt{
                    font-size: 17px;
            }
        }
    }
}