@import './colors'; 
 
.card{
    background-color: #687477;
    background-image: linear-gradient(to right bottom, #e2c2b3, #b89a92, #8e7572, #665252, #403234);
    // background-image: url("/imageImport/blocNoteDegrade.png");  
    // background-position: center;
    // background-size: cover;  
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: center;
    box-shadow: 4px 3px 6px #F7F3F5;
    border-radius: 15px;
    height: 361px;
    margin: 5%;
    .flex{
        color: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        .icon{
            // padding-right: 30px;
            font-size: 90px;
        }
        .txt{
          line-height: 35px;
          font-size: 25px;
          font-weight: 800;
          text-align: center;
        }
    }
}
.twoCard{
  display: flex;
  padding-bottom: 12%;
  justify-content: space-around;
  .twoFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 1rem; 
    color: white;
    // background-color: #687477; 
    // background-image: linear-gradient(to right bottom, #585e60, #727779, #8e9292, #aaadad, #c8c9c9); 
    background-image: linear-gradient(to right bottom, #e2c2b3, #b89a92, #8e7572, #665252, #403234);
    box-shadow: 4px 3px 6px #F7F3F5;
    border-radius: 20px;
    font-size: 20px;
    height: 210px;
    width: 347px;
    .twoCardIcon{
      font-size: 90px;
    }
    .twoCardTxt{
      font-weight: 800;
      font-size: 25px;
    }
  }
} 
@media (max-width:768px) { 
  .card{
    .flex{
      width: 90%;
      .icon{
        font-size: 50px;   
      }
      .txt{
        font-size: 20px;
        // line-height: 22px; 
      }
    }
  }
  .home{
    .twoCard{
      .twoFlex{
        width: 260px; 
        .twoCardIcon{
          font-size: 50px;  
        }
        .twoCardTxt{
          font-size: 20px;
        }
      }
    }
  }
}