@import './colors';

.cardTxt{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(131,126,126,1) 52%, rgba(255,255,255,1) 100%);
    .border{
        background-color: red;
        width: 50%;
        height: 600px;
        img{
            object-fit: cover;
            height: 600px;
            width: 100%;
        }
    }
    .cardListTxt {
        text-align: center;
        font-weight: 800;
        margin: 50px 0;
        font-size: 25px;
        width: 50%;
        h2{
            color: $color-1;
            font-size: 60px;
            text-shadow: 6px 4px 8px $color-1_1; 
        }
        ul{
            color: #403234;
            list-style-type: none;
            margin: 48px;
        }
        li{
            font-size: 34px;
            margin: 15px 0;
        }
    }
}
@media (max-width:1024px) { 
    .home{
        .cardTxt{
            .cardListTxt{
                margin: 0; 
                ul{
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width:768px) { 
    .home{
        .cardTxt{
            padding: 0;
            .cardListTxt{
                h2{
                    font-size: 40px;
                }
                ul{
                    li{
                        font-size: 25px; 
                    }
                }
            }
            .border{
                height: 420px;  
                img{
                    height: 420px;    
                }
            }
        }
    }
}
@media (max-width:425px) {
    .home{
        .cardTxt{
            .cardListTxt{
                font-size: 20px;
                h2{
                    font-size: 25px;
                }
            }
        }
    }
}
@media (max-width:320px) {
    .home{
        .cardTxt{
            .cardListTxt{
                    font-size: 17px;
            }
        }
    }
}