.card{
    background-color: #00aa9c;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
    align-self: center;
    padding: 10px;
    box-shadow: 4px 3px 6px #166c65; 
    border-radius: 15px;
    // height: 200px;
    width: 35%;
    margin: 3%;
    .flex{
        color: white;  
        display: flex;
        align-items: center;
        .icon{
            padding-right: 30px;
            font-size: 35px;
        }
        .txt{
          line-height: 35px;
        }
    }
}
.twoCard{
  display: flex;
  margin: 25px;
  justify-content: space-around;
  .twoFlex{
    display: flex;
    align-items: center;
    padding: 1rem; 
    color: white;
    background-color: #00aa9c; 
    box-shadow: 4px 3px 6px #166c65;
    border-radius: 20px;
    font-size: 20px;
    .twoCardIcon{
      padding-right: 15px;
    }
  }
}
@media (max-width:320px) {
  .card{
    .flex{
      .icon{
        font-size: 20px;
      }
    }
  }
}
@media (max-width:768px) {
  .card{
    .flex{
      .icon{
        font-size: 20px;
      }
      .txt{
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .twoCard{
    .twoFlex{
      font-size: 14px;
    }
  }
}