.entreprises{
    background-image: url("/imageImport/imgEntreprise.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        padding: 1rem;
        text-shadow: 3px -1px 0px white;
    }
    .entreprisesList{
        font-size: 30px;
        font-weight: 600;
        text-shadow: -3px 1px 0px white;
        li{
            padding: 0.2rem;
        }
    }
    p{
        background-color: #f7f729;
        font-size: 20px;
        width: 200px;
        text-align: center;
    }
}
.organisation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 30px 0;
    .title{
        padding: 1rem;
    }
    .organisationList{
        margin: 1rem;
        font-size: 30px;
        li{
            padding: 0.2rem; 
        }
    }
    .fromLeft{
        background-color: #00aa9c;
        box-shadow: 4px 3px 6px #166c65; 
        padding: 0.6rem;
        color: white;
        font-size: 24px; 
        border-radius: 10px;
        margin: 15px 0; 
    }
    .fromRight{
        background-color: #00aa9c;
        box-shadow: 4px 3px 6px #166c65; 
        padding: 0.6rem;
        color: white;
        font-size: 24px; 
        border-radius: 10px; 
        margin: 15px 0;
    }
}
@media screen and (min-width:320px) and (max-width:425px) {
    .entreprises{
        font-size: 13px;
        text-align: center;
        .entreprisesList{
            li{
                font-size: 18px;
                max-width: 265px;
            }
        }
    }
        .organisation{
            font-size: 16px;
            .organisationList{
                font-size: 18px;
                li{
                    list-style-type: circle;
                    max-width: 265px;
                }
            }
            .fromLeft{
                font-size: 14px;
            }
            .fromRight{
                font-size: 14px;
            }
        }
}
@media screen and (min-width:426px) and (max-width:768px){
    .entreprises{
        font-size: 18px;
        .entreprisesList{
            font-size: 22px;
        }
    }
        .organisation{
            font-size: 18px;
            .organisationList{
                font-size: 22px;
                li{
                    list-style-type: circle;
                }
            }
            .fromLeft{
                font-size: 18px;
            }
            .fromRight{
                font-size: 18px;
            }
        }
}