@import './colors';

.header {
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    li{
        
    }
    .selected {
        text-decoration: none;
        padding: 10px 15px;
    }
    .sousMenuContainer{
        position: relative;
            .sousMenu {
                display: flex;
                float: left;
                // flex-direction: column;
                position: absolute;
                // background-color: black;
                border: 2px solid $color-1;
                right: -90%; 
                // top: 235px;   
        
                a {
                    text-decoration: none;
                    // font-size: 20px;
                    color: $color-2;
                    padding: 10px 15px;
        
                    &:hover {
                        text-shadow: 4px 3px 6px white;
                    }
                } 
            }
    }

    .logo {
        img {
            overflow: hidden;
        }
    }

    .navBar {
        ul {
            display: flex;
            align-items: center;      
             .navBar_Burger{
                display: none;
            }         
            .sousMenu {
                animation: 0.3s slideFromBot;
            }
            li{
                list-style-type: none;
                a {
                    color: $color-2;
                    font-weight: 800;
                    font-size: 30px;
    
                    &:hover {
                        color: $color-1; 
                    }
                }
    
                a.selected {
                    color: $color-1;
                }
    
                a.hoverA {
                    text-decoration: none;
                    font-size: 30px;
                    font-weight: 800;
                    color: $color-2;
                    padding: 10px 15px;
    
                    &:hover {
                        color: $color-1;
                    }
                }

            }
        }
    }
    .navBar.hideNav{
        button.navBar_Burger{
                display: none; 
        }  
    } 
    .navBar.showNav{
        button.navBar_Burger{
                display: none; 
        }  
    } 
}

@keyframes slideFromBot {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0px);
    }
}
@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-330px);
    } 
    50%{
        opacity: 0.2;   
    }

    100% {
        opacity: 1; 
        transform: translateX(0px);
    }
}
@keyframes widthFromLeft {
    0% {
        opacity: 0;
        width: 1vw;
    } 
    50%{
        opacity: 0.2;
    }

    100% {
        opacity: 1;   
        width: 100vw;
    }
}

 
// and (max-height:760px) a travailler pour les mobils
@media (max-width:425px)  {
    .header {
        flex-direction: column;  
        height: max-content; 
        .sousMenuContainer{
            .sousMenu {
                top: 32px;
                right: -25vw;
                border: none;     
            }
        }

        .navBar.hideNav{
            ul{
               display: none;  
            }  
            
            button.navBar_Burger{
                display: flex;   
            }  
               
        }
        .navBar.showNav{
            z-index: 10; 
            position: fixed; 
            top: 0; 
            left: 0; 
            background-color: white;  
            height: 100vh; 
            animation: 0.5s widthFromLeft;    
            width: 100vw;  
            ul{
                height: 100vh;
                align-items: center;
                justify-content: center;
                gap: 5%;
                .sousMenu{
                    li{
                        &::after{ 
                            display: none;
                        }
                    }  
                }
                li{ 
                    list-style-type: none;   
                    &::after{
                        content: "";
                        background-color: $color-1;
                        height: 1px;
                        width: 100%;
                        display: block;
                        animation: 1s slideFromLeft;   
                    }
                    // #slideTop0{ 
                    //     // animation: 0.5s slideFromLeft; 
                    // }
                    // #slideTop1{ 
                    //     // animation: 0.6s slideFromLeft;  
                    // }
                    #slideTop2{  
                        animation: 0.7s slideFromLeft;  
                    }
                    #slideTop3{ 
                        animation: 0.8s slideFromLeft;  
                    }
                    #slideTop4{ 
                        animation: 0.9s slideFromLeft; 
                    }
                }  
                div{           
                    .sousMenu{ 
                        border-bottom: none; 
                    }
                }    
            }
            button{
                display: block;
                span.burger_Bar{  
                    height: 0; 
                    &::before{
                        transform: rotate(45deg);
                    }  
                    &::after{
                        transform: rotate(-45deg);  
                    }
                }
            }
        }
        .navBar { 
            // menu burger
            
        .navBar_Burger{
            display: flex;   
            z-index: 10; 
            justify-content: center;
            align-items: center;
            position: fixed;  
            top: 1rem;
            right: 1rem;
            height: 45px;
            width: 45px;
            border-radius: 5px;
            background: white; 
            border: none;
            color: inherit;
            &:hover{
                cursor: pointer;
            }
            span.burger_Bar{   
                display: block;
                width: 40px;
                height: 3px;
                position: relative;
                background-color: black;
                transition: all .1s ease-in-out; 
                &::before{
                    content: "";
                    display: block; 
                    width: 40px;
                    height: 3px;
                    left: 0; 
                    position: absolute;
                    background-color: black; 
                    transform: translateY(-12px);  
                    transition: all .3s ease-in-out; 
                }
                &::after{ 
                    content: "";    
                    display: block;
                    width: 40px;
                    height: 3px;
                    left: 0; 
                    position: absolute;
                    background-color: black;
                    transform: translateY(12px);      
                    transition: all .3s ease-in-out;         
                }              
            }
        }    
        // fin menu
            ul {
                flex-direction: column;
            }
        }
    }
}

@media (max-width:320px) {
    .header {
        .navBar{
            ul{
                .sousMenu { 
                    // top: 345px;
                    // right: 4%;
                        a{
                            font-size: 25px;
                        }
                }
            }
        }
    }
}
@media (max-width:390px) {
    .header {
        .navBar{
            ul{
                .sousMenu {
                    // top: 345px;
                    // right: 8%;    
                }
            }
        }
    }
}
