@import './colors';

.header {
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;

    .selected {
        text-decoration: none;
        padding: 10px 15px;
    }

    .sousMenu {
        display: flex;
        float: left;
        // flex-direction: column;
        position: absolute;
        // background-color: black;
        border: 2px solid $color-1;
        // right: 30%; 
        top: 235px;  

        a {
            text-decoration: none;
            font-size: 20px;
            color: $color-2;
            padding: 10px 15px;

            &:hover {
                text-shadow: 4px 3px 6px white;
            }
        }
    }

    .logo {
        img {
            overflow: hidden;
        }
    }

    .navBar {
        ul {
            display: flex;
            align-items: center;   
             // menu burger        
             .navBar_Burger{
                display: none;
            //     position: fixed;  
            //     top: 1rem;
            //     right: 1rem;
            //     height: 40px;
            //     width: 40px;
            //     background: transparent;
            //     border: none;
            //     color: inherit;
            //     &:hover{
            //         cursor: pointer;
            //     }
            //     .burger_Bar{
            //         display: block;
            //         width: 40px;
            //         height: 3px;
            //         position: relative;
            //         background-color: black;
            //         &::before{
            //             content: "";
            //             display: block; 
            //             width: 40px;
            //             height: 3px;
            //             left: 0; 
            //             position: absolute;
            //             background-color: black; 
            //             transform: translateY(-12px);  
            //         }
            //         &::after{ 
            //             content: "";   
            //             display: block;
            //             width: 40px;
            //             height: 3px;
            //             left: 0;
            //             position: absolute;
            //             background-color: black;
            //             transform: translateY(12px);         
            //         }              
            //     }
            }        
            // fin menu
            .sousMenu {
                animation: 0.3s slideFromBot;
            }

            a {
                color: $color-2;
                font-weight: 800;
                font-size: 30px;

                &:hover {
                    color: $color-1; 
                }
            }

            a.selected {
                color: $color-1;
            }

            a.hoverA {
                text-decoration: none;
                font-size: 30px;
                font-weight: 800;
                color: $color-2;
                padding: 10px 15px;

                &:hover {
                    color: $color-1;
                }
            }
        }
    }
}

@keyframes slideFromBot {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0px);
    }
}

 

@media (max-width:425px) {
    .header {
        flex-direction: column;
        height: max-content; 

        .sousMenu {
            top: 335px;
            right: 10%;
            border: 1px solid $color-1;    
        }

        .navBar.hideNav{
            ul{
               display: none;  
            }    
        }
        .navBar.showNav{
            z-index: 10; 
            position: fixed; 
            top: 0; 
            background-color: white;  
            height: 100vh; 
            width: 100vw;
            ul{
                height: 100vh;
                align-items: center;
                justify-content: center;
                gap: 5%;        
            }
            button{
                span.burger_Bar{  
                    height: 0; 
                    &::before{
                        transform: rotate(45deg);
                    }  
                    &::after{
                        transform: rotate(-45deg);  
                    }
                }
            }
        }
        .navBar { 
            // menu burger
            
        .navBar_Burger{
            display: flex;   
            z-index: 10; 
            justify-content: center;
            align-items: center;
            position: fixed;  
            top: 1rem;
            right: 1rem;
            height: 45px;
            width: 45px;
            border-radius: 5px;
            background: white; 
            border: none;
            color: inherit;
            &:hover{
                cursor: pointer;
            }
            span.burger_Bar{   
                display: block;
                width: 40px;
                height: 3px;
                position: relative;
                background-color: black;
                &::before{
                    content: "";
                    display: block; 
                    width: 40px;
                    height: 3px;
                    left: 0; 
                    position: absolute;
                    background-color: black; 
                    transform: translateY(-12px);  
                }
                &::after{ 
                    content: "";    
                    display: block;
                    width: 40px;
                    height: 3px;
                    left: 0; 
                    position: absolute;
                    background-color: black;
                    transform: translateY(12px);         
                }              
            }
        }    
        // fin menu
            ul {
                flex-direction: column;
            }
        }
    }
}

@media (max-width:320px) {
    .header {
        .sousMenu {
            a {
                font-size: 16px;
            }
        }

        .navBar {
            ul {
                a.hoverA {
                    font-size: 18px;
                }

                a.selected {
                    font-size: 18px;
                }
            }
        }
    }
}