.home{
    width: 100%;
    margin: 0 auto;
    .bgCard{
        display: flex;
        flex-direction: column;
        padding: 3%;
    }
    .wordContain{
        color: #C7AAA3;
        padding-left: 10px;
    }
    .barre{
        border-right: 1px solid black;
    }
    .text{
        background-image: url("/imageImport/imgTextAnim.jpg");
        background-size: cover;
        background-position-x: 20%;
        background-position-y: 35%;
        color: white;
        text-shadow: 3px 0px black;
        height: 455px;
        padding: 5% 10%;
        font-weight: 600;
        font-size: 45px;
    }
}