.home{
    width: 100%;
    margin: 0 auto;
    .bgCard{
        display: flex;
        // flex-direction: column;
        padding: 12% 0;
    }
    .wordContain{
        color: #C7AAA3;
        padding-left: 10px;
    }
    .barre{
        border-right: 1px solid black;
    }
    .textAnimContain{
        display: flex;
        width: 100%;
        margin-top: 50px;
        .backImg{
            width: 50%;
            img{
                object-fit: cover;
                width: 100%;
                height: 60vh;
            }
        }
        .text{
            h4{
                padding-bottom: 80px;
                font-weight: 600;
            }
            width: 50%;
            text-align: center;
            padding-top: 100px;
            color: #F7F3F5;
            background-color: #403234;
            text-shadow: 3px 0px black;
            height: 60vh;
            font-size: 45px;
        }
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .home {
        .textAnimContain{
            flex-direction: column-reverse;
            .backImg{
                width: 100%;
            }
            .text{
                width: 100%;
            }
        }
        .bgCard {
            flex-direction: column;
        }
        .twoCard {
            width: 35%;
            flex-direction: column;
            margin: 0 auto;
            .twoFlex{
                margin: 1rem;
            }
        }
    }
}
@media (max-width:425px) {
    .home {
        .text{
            font-size: 25px;
        }
        .bgCard{
            .card{
                width: 70%;
            }
        }
        .twoCard{
            width: 70%;
        }
    }
}