.rgpd{
    margin: 50px 0; 
    .bannerRgpd{
        background-color: #687477;
        height: 50px;
        span{
            color: #E2C2B3;
            font-size: 20px;
            font-weight: 800;
        }
        a{
            font-weight: 600;
            line-height: 50px;
            text-decoration: none;
            font-size: 20px;
            color: #E2C2B3;
            padding-left: 100px;
        }
    }
    .protection{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin: 50px;
                padding-right: 300px;
                font-size: 43px;
                color: $color-1;
                align-self: flex-end;
            }
            .listOrganisé{
                // max-width: 1000px;
                padding: 0 5%;
                display: flex; 
                flex-direction: column;
                div{
                    font-size: 25px;
                    h5{
                        font-size: 25px; 
                        margin: 20px 0;
                    }
                }
                .toContact{
                    a{
                        display: inline-block;
                        color: $color-1;   
                        font-weight: bold;
                        text-decoration: none; 
                        &::after{
                            content: "";
                            display: block;
                            width: 100%;   
                            height: 3px; 
                            background: $color-1;  
                            transform: scale(0);  
                            transition: transform 0.2s ease-in-out;
                        }
                        &:hover::after{
                            transform: scale(1);
                        }  
                    } 
                } 
                p{
                    line-height: 30px;
                    font-size: 25px;
                }
                li{
                    margin: 20px;
                    font-weight: 800;
                    font-size: 25px;
                }
                .reglement{
                    display: flex;
                    flex-wrap: wrap;
                    h5{
                        margin: 10px;
                        font-size: 25px;
                    }
                    li{
                        font-weight: 300;
                        font-size: 25px;
                    }
                    div{
                        width: 50%;  
                        padding: 10px;
                    }
                }
            }
        }
}